*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #7c7878;
}
.post{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: #000;
    gap: 10px;
    border-radius: 4px;
    margin: 15px;
}
.post__user{
    display: flex;
    align-items: center;
    height: 35px;
    gap: 15px;
}
.post__user--name{
    color: #fff;
}
.post__user--email{
    color: #bab4b4;
}
.post__title--text{
    font-size: 30px;
    color: #fff;
    padding: 10px;
}
.post__body--text{
    font-size: 22px;
    padding: 10px;
    color: #fff;
}
.delete-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    align-self: center;
    background-color: #d60e0e;
    color: #fff;
    border-radius: 4px;
}
.delete-btn:hover{
    background-color: #820707;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
box-sizing: border-box;
}
.lds-roller {
display: block;
position: relative;
width: 80px;
height: 200px;
margin: auto;
margin-top: 90px;
}
.lds-roller div {
animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
transform-origin: 40px 40px;
}
.lds-roller div:after {
content: " ";
display: block;
position: absolute;
width: 7.2px;
height: 7.2px;
border-radius: 50%;
background: currentColor;
margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
top: 62.62742px;
left: 62.62742px;
}
.lds-roller div:nth-child(2) {
animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
top: 67.71281px;
left: 56px;
}
.lds-roller div:nth-child(3) {
animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
top: 70.90963px;
left: 48.28221px;
}
.lds-roller div:nth-child(4) {
animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
top: 72px;
left: 40px;
}
.lds-roller div:nth-child(5) {
animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
top: 70.90963px;
left: 31.71779px;
}
.lds-roller div:nth-child(6) {
animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
top: 67.71281px;
left: 24px;
}
.lds-roller div:nth-child(7) {
animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
top: 62.62742px;
left: 17.37258px;
}
.lds-roller div:nth-child(8) {
animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
top: 56px;
left: 12.28719px;
}
@keyframes lds-roller {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.add-post{
    background-color: #1803d2;
    color: #fff;
    border-radius: 4px;
    margin: auto;
    display: none;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
